# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
.cache

# LLVM
*.ll
Output
.lit*

# TypeART & MUST
*.yaml
must_temp
MUST_Output.json
MUST_Output.html
must-dimeta
*.log

# Miniapps
traceranks
outfile.tga